@model RowndASPTestApp.Models.RowndUserProfile

@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Protected page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>This page is protected by Rownd!</p>
    <p>Your roles: @ViewBag.Roles</p>
</div>

<div>
    <form asp-action="UpdateUser">
        <p>Update your name</p>
        <input asp-for="Name" type="text" name="name" />
        <button type="submit">Save</button>
    </form>
</div>
