@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Role-protected page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>Hooray! You have the correct roles!</p>
    <p>Your roles: @ViewBag.Roles</p>
</div>
